@{
    ViewData["Title"] = "Welcome";
}
<div class="jumbotron">
    <img class="jumbotron-image" src="~/images/students.jpg" alt="students sitting on campus"/>
</div>
<div class="row home-content">
    <div class="col-md-4">
        <h2>Welcome to Horizon University</h2>
        <p>
            Horizon University is a prestigious institution dedicated to excellence in education, research, and innovation. Our mission is to empower students to become leaders in their fields and make meaningful contributions to society.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Explore Our Programs</h2>
        <p>Discover our diverse range of academic programs designed to meet the needs of today's students.</p>
        <p><a class="btn btn-default" href="/Courses">View Programs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join Our Community</h2>
        <p>Find out how you can become part of the vibrant Horizon University community.</p>
        <p><a class="btn btn-default" href="/Students/Create">Apply Now &raquo;</a></p>
    </div>
</div>