@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Privacy Policy for Horizon University</h1>


<div class="container">
   
    <h2>Information We Collect:</h2>
    <p>
        1. Personal Information: When you apply to Horizon University, register for courses, or interact with our website, we may collect personal information such as your name, contact information, date of birth, and academic history.
    </p>
    <p>
        2. Usage Data: We may collect information about how you interact with our website, including your IP address, browser type, pages visited, and timestamps.
    </p>

    <h2>How We Use Your Information:</h2>
    <p>
        1. Academic Purposes: We use your personal information to process applications, enroll students in courses, manage academic records, and provide educational services.
    </p>
    <p>
        2. Communication: We may use your contact information to communicate with you about academic matters, campus events, and administrative updates.
    </p>
    <p>
        3. Website Improvement: We analyze usage data to improve our website functionality, user experience, and security measures.
    </p>

    <h2>Data Security:</h2>
    <p>
        1. Confidentiality: We treat all personal information with the utmost confidentiality and restrict access to authorized personnel only.
    </p>
    <p>
        2. Data Protection: We employ industry-standard security measures to protect against unauthorized access.
    </p>
</div>
